body,html {
    background-color: #2C2C2E;
    color: #007bff;
    height: 100%;
}

.left-banner{
    padding-top: 20vh;
}

.card {
    border-style: inherit;
    background-color: #222123;
    height: 100%;
    padding: 8vw 10vw;
}

.row {
    text-align: center;
}

.login-svg {
    height: 40%;
    width: 40%;
    margin: auto;
}

.title-text {
    padding: 1rem;
    line-height: 0%;
    font-family: 'Nunito Sans', sans-serif;
}

.font-weight-light {
    font-weight: 300;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

@media only screen and (max-width: 768px) {
    body {
      display: block;
      min-height: 100%;
    }

    .left-banner {
        display: none;
    }
}