<br/>
<div class="introduction container">
    <div class="row flex-nowrap">
        <div class="col-4">
            <img src="{{ creatorDetail.profilePicture}}" alt="/">
        </div>
        <div class="col-8 info">
            <div class="row name d-flex flex-wrap">
                {{ creatorDetail.user.first_name }} {{ creatorDetail.user.last_name }}
            </div>
            <div class="row about" maxlength="255">
                {{ creatorDetail.description }}
            </div>
            <div class="row socials">
                <a href={{ creatorDetail.socials.fb }} id="share-fb" class="sharer button"><i class="fa-brands fa-instagram fa-lg" style="color: #007bff;"></i></a>
                <a href="#" id="share-fb" class="sharer button"><i class="fa-brands fa-twitter fa-lg" style="color: #007bff;"></i></a>
                <a href="#" id="share-fb" class="sharer button"><i class="fa-brands fa-linkedin fa-lg" style="color: #007bff;"></i></a>
                <a href="#" id="share-fb" class="sharer button"><i class="fa-brands fa-facebook fa-lg" style="color: #007bff;"></i></a>
                <a href="#" id="share-link" class="link button"><i class="fa fa-link fa-lg" style="color: #007bff;"></i></a>
                
            </div>
        </div>
    </div>

</div>
