<br/>
<!-- <div class="introduction container">
    <div class="row flex-nowrap">
        <div class="col-4">
            <img src="/media/{{ creatorDetail.profile_picture }}">
        </div>
        <div class="col-8 info">
            <div class="row name d-flex flex-wrap">
                {{ creatorDetail.user.first_name }} {{ creatorDetail.user.last_name }}
            </div>
            <div class="row about" maxlength="255">
                {{ creatorDetail.description }}
            </div>
            <div class="row socials">
                {% if creatorDetail.instagram_url %}
                    <a href={{ creatorDetail.instagram_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-instagram fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.youtube_url %}
                    <a href={{ creatorDetail.youtube_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-youtube fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.website_url %}
                    <a href={{ creatorDetail.website_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa fa-link fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.twitter_url %}
                    <a href={{ creatorDetail.twitter_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-twitter fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.facebook_url %}
                    <a href={{ creatorDetail.facebook_url }} target="_blank" id="share-link" class="link button"><i class="fa-brands fa-facebook fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.linkedin_url %}
                    <a href={{ creatorDetail.linkedin_url }} target="_blank" id="share-link" class="link button"><i class="fa-brands fa-linkedin fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

</div> -->


<div class="introduction container">
    <div class="flex-nowrap text-center">
        <img src="/media/{{ creatorDetail.profile_picture }}">
        <div class="info text-center">
            <div class="name">
                {{ creatorDetail.user.first_name }} {{ creatorDetail.user.last_name }}
            </div>
            <div class="about" maxlength="255">
                {{ creatorDetail.description }}
            </div>
            <div class="socials">
                {% if creatorDetail.instagram_url %}
                    <a href={{ creatorDetail.instagram_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-instagram fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.youtube_url %}
                    <a href={{ creatorDetail.youtube_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-youtube fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.website_url %}
                    <a href={{ creatorDetail.website_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa fa-link fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.twitter_url %}
                    <a href={{ creatorDetail.twitter_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-twitter fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.facebook_url %}
                    <a href={{ creatorDetail.facebook_url }} target="_blank" id="share-link" class="link button"><i class="fa-brands fa-facebook fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
                {% if creatorDetail.linkedin_url %}
                    <a href={{ creatorDetail.linkedin_url }} target="_blank" id="share-link" class="link button"><i class="fa-brands fa-linkedin fa-lg" style="color: #007bff;"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

</div>
