{% load star_rating %}
<div class="reviews container">
    <div class="row review-info">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in review_img %}
                <div class="carousel-item"><img src="/media/{{ image.attachment }}" class="d-block w-100"></div>
                {% endfor %}
            </div>
        </div>
        <div class="col reviewee">
            @{{ review.reviewee }}
        </div>
        <div class="col rating text-end">
            {% with ''|center:review.ratings as range %}
            {% for _ in range %}
                <span class="fa-sharp fa-solid fa-star"></span>
            {% endfor %}
            {% endwith %}
            
            {% with review.ratings|subtract_:"5" as emptyStar %}
            {% with ''|center:emptyStar as range %}
            {% for _ in range %}
                <span class="fa-sharp fa-regular fa-star"></span>
            {% endfor %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
    <div class="row review-content">
        {{ review.feedback }}
    </div>
    <div>
        {% for image in review_img %}
            <img src="/media/{{ image.attachment }}" height="50" width="50" class="border border-light mt-2">
        {% endfor %}
    </div>
</div>
