.card {
    border-style: none;
    border-radius: 10px;
    background: #222123;
    margin: 0rem 2rem;
}

.card-body{
    border-style: none;
    background-color: #222123;
    border-radius: 10px;
    /* padding: 1rem 4rem; */
}

.sub-header {
    font-size: x-large;
    padding-left: 1% !important;
}

.sub-body {
    padding: 0% 20% 0% 5%;
}

.profile-button {
    display: block;
    margin-left: auto;
    margin-right: 5rem;
}

input, textarea, select {
    background: #2C2C2E;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    width: 50%;
}

select {
    border-right: 1.2rem solid transparent
}

label {
    padding-right: 2rem;
    padding-bottom: 0.6rem;
}

@media only screen and (max-width: 768px) {
    .card-body{
        background-color: #222123;
        border-radius: 10px;
        padding: 1rem 1rem;
    }

    .card {
        margin: 0rem 0.8rem;
    }

    .sub-body {
        padding: 0% 5% 0% 5%;
    }

    label, select, input, textarea {
        width: 100%;
    }

    .profile-button {
        margin-right: 1.5rem;
    }
}