.card, .page-link, .page-link:hover {
    border-style: none;
    background: #222123;
}

.active {
    background: #007bff!important;
}

.card-body{
    border-style: none;
    background-color: #222123;
}