{% load static %}
{% load star_rating %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/creatorPage.css' %}">
    <script src="https://kit.fontawesome.com/d787f74692.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>

    <title>RevuLink - Collect reviews and listen to your customers</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <div class="container">
        <nav class="navbar">
            <a class="navbar-brand" href="#">
            <img src="{% static '/img/logo.svg' %}" alt="">
            </a>
            {% if not user.is_authenticated %}
            <button type="button" class="btn btn-outline-light">
                <a href="https://revulink.pythonanywhere.com/auth/signup/" target="_blank" style="color: inherit; text-decoration: none;">Join Us!</a>
            </button>
            {% elif user.username == creatorDetail.user.username %}
            <div class="btn-toolbar" role="toolbar">
                <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;" id="copyLink">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                </button>
                <a type="button" class="btn btn-outline-success" href="whatsapp://send?text={{ domain|safe }}{% url 'reviewForm' username=user.username %}" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
            {% endif %}
        </nav>
        <div class="introduction container">
            <div class="flex-nowrap text-center">
                <img src="{{ media_url }}{{ creatorDetail.profile_picture }}">
                <div class="info text-center">
                    <div class="name">
                        {{ creatorDetail.user.first_name }} {{ creatorDetail.user.last_name }}
                    </div>
                    <div class="about" maxlength="255">
                        {{ creatorDetail.description }}
                    </div>
                    <div class="socials">
                        {% if creatorDetail.instagram_url %}
                            <a href={{ creatorDetail.instagram_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-instagram fa-lg" style="color: #007bff;"></i></a>
                        {% endif %}
                        {% if creatorDetail.youtube_url %}
                            <a href={{ creatorDetail.youtube_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-youtube fa-lg" style="color: #007bff;"></i></a>
                        {% endif %}
                        {% if creatorDetail.website_url %}
                            <a href={{ creatorDetail.website_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa fa-link fa-lg" style="color: #007bff;"></i></a>
                        {% endif %}
                        {% if creatorDetail.twitter_url %}
                            <a href={{ creatorDetail.twitter_url }} target="_blank" id="share-fb" class="sharer button"><i class="fa-brands fa-twitter fa-lg" style="color: #007bff;"></i></a>
                        {% endif %}
                        {% if creatorDetail.facebook_url %}
                            <a href={{ creatorDetail.facebook_url }} target="_blank" id="share-link" class="link button"><i class="fa-brands fa-facebook fa-lg" style="color: #007bff;"></i></a>
                        {% endif %}
                        {% if creatorDetail.linkedin_url %}
                            <a href={{ creatorDetail.linkedin_url }} target="_blank" id="share-link" class="link button"><i class="fa-brands fa-linkedin fa-lg" style="color: #007bff;"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="metrics container">
            <div class="row">
                <div class="col met-1">
                    <div class="row value">
                        {{ total_reviews|safe }}
                    </div>
                    <div class="row title">
                        Total Reviews
                    </div>
                </div>
                <div class="col met-2">
                    <div class="row value">
                        {{ avg_rating|safe|floatformat:1 }}
                    </div>
                    <div class="row title">
                        Average Rating
                    </div>
                </div>
            </div>
        </div>
        {% for review_ctx in reviews %}
        <div class="reviews container">
            <div class="row review-info">
                {% if review_ctx.review_img|length > 0 %}
                <div id="carousel_{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                    {% if review_ctx.review_img|length > 1 %}
                    <div class="carousel-indicators">
                        {% for image in review_ctx.review_img %}
                        <button type="button" data-bs-target="#carousel_{{ forloop.parentloop.counter }}" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter == 1 %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="carousel-inner">
                        {% for image in review_ctx.review_img %}
                        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}"><img src="{{ media_url }}{{ image.attachment }}" class="d-block mx-auto" style="max-height: 250px; max-width: 100%; height: auto; width: auto;"></div>
                        {% endfor %}
                    </div>
                </div>
                <script>
                  var carousel_{{ forloop.counter }} = document.getElementById('carousel_{{ forloop.counter }}');
                  var carousel = new bootstrap.Carousel(carousel_{{ forloop.counter }}, {
                    interval: 5000,
                    wrap: true,
                  });
                </script>
                {% endif %}
                <div class="col reviewee">
                    @{{ review_ctx.review.reviewee }}
                </div>
                <div class="col rating text-end">
                    {% with ''|center:review_ctx.review.ratings as range %}
                    {% for _ in range %}
                        <span class="fa-sharp fa-solid fa-star"></span>
                    {% endfor %}
                    {% endwith %}
                    {% with review_ctx.review.ratings|subtract_:"5" as emptyStar %}
                    {% with ''|center:emptyStar as range %}
                    {% for _ in range %}
                        <span class="fa-sharp fa-regular fa-star"></span>
                    {% endfor %}
                    {% endwith %}
                    {% endwith %}
                </div>
            </div>
            <div class="row review-content">
                <p>{{ review_ctx.review.packaging }}
                    <br>{{ review_ctx.review.feedback }}</p>
            </div>
        </div>
        {% if reviews and forloop.counter != reviews|length and reviews|length > 0 %}
        <hr class="text-white mx-auto" style="width: 95%; margin: 0;">
        {% endif %}{% endfor %}
    </div>
    <div class="position-fixed bottom-0 end-0 p-3"><div id="toastContainer"></div></div>
    <script>
        function showToast(message) {
            var toastElement = document.createElement("div");
            toastElement.classList.add("toast");
            toastElement.setAttribute("role", "alert");
            toastElement.setAttribute("aria-live", "assertive");
            toastElement.setAttribute("aria-atomic", "true");
            toastElement.setAttribute("data-bs-autohide", "true");
            toastElement.setAttribute("data-bs-delay", "5000");
            var toastHeader = document.createElement("div");
            toastHeader.classList.add("toast-header", "bg-dark", "text-primary");
            var strongElement = document.createElement("strong");
            strongElement.classList.add("me-auto");
            strongElement.textContent = "Message";
            var closeButton = document.createElement("button");
            closeButton.setAttribute("type", "button");
            closeButton.classList.add("btn-close", "btn-close-white");
            closeButton.setAttribute("data-bs-dismiss", "toast");
            closeButton.setAttribute("aria-label", "Close");
            var toastBody = document.createElement("div");
            toastBody.classList.add("toast-body", "bg-dark", "text-light");
            toastBody.textContent = message;
            toastHeader.appendChild(strongElement);
            toastHeader.appendChild(closeButton);
            toastElement.appendChild(toastHeader);
            toastElement.appendChild(toastBody);
            var toastContainer = document.querySelector("#toastContainer");
            toastContainer.appendChild(toastElement);
            var toast = new bootstrap.Toast(toastElement, {
            backdrop: false
            });
            toast.show();
        }
        {% if messages %}
            {% for message in messages %}
                showToast("{{ message }}");
            {% endfor %}
        {% endif %}
        document.getElementById("copyLink").addEventListener("click", copyLink, false);
        function copyLink() {
            navigator.clipboard.writeText("{{ domain|safe }}{% url 'reviewForm' username=creatorDetail.user.username %}");
            showToast("Link copied");
        }
    </script>
  </body>
</html>