<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms & Conditions</title>
</head>
<body>
<h1 id="tnc">Terms & Conditions</h1>
<hr>
<p><strong>These terms and conditions ("Agreement") applies to private individuals, businesses and organisations (each a "Customer") making use of the revulink.me, including but not limited to Customers’ trial use of the revulink.me Review Collection Service.</strong></p>
<hr>
<strong>Creator/ company:</strong> private individuals, businesses and organisations who create account on our website.
<strong>Reviewer:</strong> private individuals, businesses and organisations who write reviews for any creator/ company.
<hr>
<br></br><h2>1. Revulink</h2>
<p>The initial geographic location of our’s (‘our’ here refers to <a href="https://revulink.me">Revulink</a>) is India.</p>
<br></br><h2>2. ACCEPTANCE</h2>
<p>The terms of use listed below (hereafter simply referred to as the 'terms') govern the use of our services (hereafter simply referred to as services), including the contribution of review postings on the Revulinkwebsite (hereafter simply referred to as 'the website'). Under these 'terms' the words 'we', 'us' and 'our' refer to Revulink. If you do not wish to accept the terms you are not permitted to use the website or the services. By using either the website and/or services you have confirmed your agreement to these terms.</p>
<br></br><h3>2.1 REGISTERED USER</h3>
<p>To get access to, and make full use of, the services you must register as a user on the website. While registering, you must choose a password to use along with your email address when you log on to the website. The password is unique to your account and must not be shared or in any other way made available to others. We reserve the right to delete your account at any time without notice. As a registered user you have a non-assignable licence to view but not a licence to copy distribute or otherwise commercially exploit our content.</p>
<br></br><h3>2.2 CONTRIBUTIONS FROM REGISTERED USERS</h3>
<p>You confirm that all material, information, reviews, comments and any other form of communication (hereafter all referred to under the term 'contributions') received from registered users via the website are to be regarded for all purposes as non-confidential, and will not entitle the reviewer to royalties or any form of compensation. You grant an exclusive royalty-free licence for the copyright term to Revulink to use, publish, edit display and exploit such content in all media for all purposes in all territories and waive such moral rights as you may have in connection with it.
Registered users are solely responsible for the content of the contributions they publish on the website. You agree that Revulink cannot be held responsible for any libellous comments or reviews that could be classed as defamatory. Those reviews are posted in real time without being censored or edited. Revulink is keen to ensure fairness and transparency and operates a timely reporting and review procedure to assist both those contributing and those reviewed in order to avoid libellous reviews.</p>
<br></br><h3>2.3 VIOLATIONS</h3>
<p><strong>Registered users may not post contributions to the website which have:</strong></p>
<ul>
	<li>Sexist or racist characteristics or content, or which are condescending or likely to be offensive to certain people or groups</li>
	<li>content which is plagiaristic; content the publication of which infringes the intellectual property rights of third parties</li>
	<li>Unlawful purpose or content</li>
	<li>Libellous content</li>
	<li>Personal names or personal data including personal descriptions or contact details; and/or</li>
	<li>a clear sales motive ,are an attempt to sell services or products or are an attempt to redirect traffic to another website by including a link.</li>
</ul>
<p>Contributors are in all cases responsible for the legality any of the contributions. If a violation of 2.3. is found, the contribution will be deleted immediately without any notice to creator or reviewer. The offender may also be banned from writing future reviews or comments.</p>
<p>The registered users who are reviewer and reviewed in the case of any dispute agree to fully indemnify and hold harmless Revulink for any loss damage claims and/or expenses it may incur as a result of any claim made against Revulink as a consequence of any registered user’s violation or alleged violation of <strong>2.3</strong>.</p>
<p>We reserve the right to delete contributions at any time and with no warning or explanation.</p>
<br></br>
<p>If you email on <a href="mailto:support@revulink.me">support@revulink.me</a> we will do our best to provide a reason. We reserve the right to send a review request email on behalf of a Company/Website if requested to do so by a genuine customer.</p>
<br></br>
<h1>User Privacy Policy</h1>
<hr>
<p><strong>By creating a profile on or using revulink.me websites including, but not limited to revulink.vercel.app & revulink.me (the "Website") you accept the terms contained in this Privacy Policy, which govern the processing of your personal data on the Website.</strong></p>
<hr>
<br></br><h2>1. PERSONAL DATA</h2>
<p>When you write a review or create an account on the Website, we will automatically generate a personal account for you and collect the following personal data about you:</p>
<ul>
	<li>Social Media Profiles (optional, if added)</li>
	<li>First and last name</li>
	<li>Email address</li>
</ul>
<p>revulink.me is an open review platform, we will publish:</p>
<ul>
	<li>creator/ company profile with all the above information shared by the creator/ company</li>
	<li>reviewers name (social media profile) next to your review unless you have chosen to be anonymous</li>
</ul>
<p>As the data processor we will use the information you provide to us to:</p>
<ul>
	<li>Provide our services to you, including displaying your reviews</li>
	<li>Identify you as a reviewer when you log in to the Website and re-visit the Website</li>
	<li>Enforce our <a href="#tnc">Terms & Conditions</a> mentioned above.</li>
</ul>
<br></br><h2>2. DATA RETENTION</h2>
<p>We keep the review data and other personal data, for as long as you have a publicly published review with our services. Currently, our website don't provide any service to delete any data provided on our website in any form, and we are also not liable to delete it from our servers.</p>
<p>All the data is stored on AWS services with free tier and all the privacy policies, data retention policies and terms & conditions enforced by AWS (Amazon Web Services) is applicable each and every individual who is using revulink.me.</p>
</body>
</html>