{% extends './sidebar.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href=" {% static '/css/components/profile.css' %} ">
{% endblock css %}
{% block results %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("nav_profile").classList.add('active-button');
        document.getElementById("side_profile").classList.add('active-button');
    });
</script>

<br/>

<form id="profileUpdate" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card ">
        <div class="card-body">
            <div class="sub-header">Review Site Control</div>
            <br>
            <div class="sub-body">
                <div class="form-group">
                    <label for="numberOfResults" class="form-label">How many reviews do you want to show?</label>
                    <input type="number" id="numberOfResults" name="numberOfResults" value="{{ creator.resultsToDisplay }}" readonly>
                </div>
                <div class="input-group w-75 mx-auto mt-2 mb-4">
                    <input type="range" id="resultRange" value="{{ creator.resultsToDisplay }}" min="1" max="25" step="1">
                </div>
                <div class="form-group">
                    <label for="orderBy">How do you want to order the reviews?</label>
                    <select class="custom-select" id="orderBy" name="orderBy">
                        <option {% if creator.orderBy == 1 %} selected {% endif %} value="1">Best rated first</option>
                        <option {% if creator.orderBy == 2 %} selected {% endif %} value="2">Newest first</option>
                        <option {% if creator.orderBy == 3 %} selected {% endif %} value="3">Oldest first</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card ">
        <div class="card-body">
            <div class="sub-header">Review Form Control</div>
            <br>
            <div class="sub-body">
                <div class="input-group" style="display: flex;">
                    <label for="question">Any question you would like to add to the form?</label>
                    <textarea class="m-1" id="question" name="question">{{ creator.question }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card ">
        <div class="card-body">
            <div class="sub-header">Edit Profile</div>
            <br/>
            <div class="sub-body">


                <div class="row">
                    <div class="col-md-4 w-auto mx-auto mb-2">
                        <input id="profile" name="profile" type="file" class="visually-hidden" accept=".png, .jpg, .jpeg, .svg, .webp">
                        <label for="profile" class="w-auto position-relative" style="padding: 0!important;">
                            <img src="/media/{{ creator.profile_picture }}" id="profile_preview" height="150" width="150" class="border border-light rounded-circle">
                            <span class="position-absolute bottom-0 start-50 translate-middle badge rounded-pill bg-secondary"><i class="fa-solid fa-user-pen"></i> Edit</span>
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="username">Username</label>
                            <input type="text" id="username" value="{{ creator.user.username }}" readonly>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="{{ creator.user.email }}">
                        </div>
                    </div>
                </div>
                        <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="firstname">First Name</label>
                            <input type="text" id="firstname" name="firstname" value="{{ creator.user.first_name }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" name="lastname" value="{{ creator.user.last_name }}">
                        </div>
                    </div>
                </div>
                        <div class="row g-2">
                            <label for="description">Description</label>
                            <textarea id="description" name="description">{{ creator.description }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card ">
        <div class="card-body">
            <div class="sub-header">Contact Details</div>
            <br>
            <div class="sub-body">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social instagram">Instagram</label>
                            <input type="url" id="social instagram" name="instagram" value="{{ creator.instagram_url }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social youtube">Youtube</label>
                            <input type="url" id="social youtube" name="youtube" value="{{ creator.youtube_url }}">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social twitter">Twitter</label>
                            <input type="url" id="social twitter" name="twitter" value="{{ creator.twitter_url }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social website">Website</label>
                            <input type="url" id="social website" name="website" value="{{ creator.website_url }}">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social linkedin">LinkedIn</label>
                            <input type="url" id="social linkedin" name="linkedin" value="{{ creator.linkedin_url }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social facebook">Facebook</label>
                            <input type="url" id="social facebook" name="facebook" value="{{ creator.facebook_url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div>
        <button id = "urlForm" form="profileUpdate" type="submit" class="btn btn-outline-primary profile-button">Update Profile</button>
    </div>
</form>
<div class="card-footer text-center">
    <br>
    <h3 class="card-title">Share Your RevuLink</h3>
    <button type="button" class="btn btn-outline-dark" id="copyLink">
        <i class="fa fa-clone" aria-hidden="true"></i> Copy Link
    </button>
    <a type="button" class="btn btn-outline-success" href="whatsapp://send?text=http://127.0.0.1:8000{% url 'reviewForm' username=user.username %}">
        <i class="fa-brands fa-whatsapp"></i> WhatsApp
    </a>
    <br>
</div>

{% endblock results %}

{% block js %}
    {{ block.super }}

    <script>
        document.getElementById("copyLink").addEventListener("click", copyLink, false);
        function copyLink() {
            navigator.clipboard.writeText("http://127.0.0.1:8000{% url 'reviewForm' username=user.username %}");
            showToast("Link copied");
        }
    </script>
    <script>
        $(document).ready(function() {
         $('#urlForm').submit(function() {
          var url = $('#social');
          if(url.val().match(/^http:\/\//) == null) {
           url.val("http://" + url.val());
          }
         });
        });
       </script>
    <script type="text/javascript" src="{% static '/js/components/profile.js' %}"></script>
{% endblock js %}

