{% extends './sidebar.html' %}
{% load static %}
{% block results %}
{{ block.super }}
<div class="card m-2">
    <div class="card-body text-center">
        <h3 class="card-title">Edit Profile</h3>
        <form method="post" action={% url 'profile' %}>
            {% csrf_token %}
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="username" value="{{ creator.user.username }}" disabled readonly>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control" id="email" name="email" value="{{ creator.user.email }}">
                        <label for="email">Email</label>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="firstname" name="firstname" value="{{ creator.user.first_name }}">
                        <label for="firstname">First Name</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="lastname" name="lastname" value="{{ creator.user.last_name }}">
                        <label for="lastname">Last Name</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-2">
                <textarea class="form-control" id="description" name="description">{{ creator.description }}</textarea>
                <label for="description">Description</label>
            </div>
            <button type="submit" class="btn btn-dark">Update Profile</button>
        </form>
    </div>
    <div class="card-footer text-center">
        <h3 class="card-title">Share Review Form Link</h3>
        <button type="button me-2" class="btn btn-outline-dark" id="copyLink">
            <i class="fa fa-clone" aria-hidden="true"></i> Copy Link
        </button>
        <a type="button" class="btn btn-outline-success" href="whatsapp://send?text=http://127.0.0.1:8000{% url 'reviewForm' username=user.username %}">
            <i class="fa-brands fa-whatsapp"></i> WhatsApp
        </a>
    </div>
</div>
<script>
    document.getElementById("copyLink").addEventListener("click", copyLink, false);
    function copyLink() {
        navigator.clipboard.writeText("http://127.0.0.1:8000{% url 'reviewForm' username=user.username %}");
        alert("URL copied");
    }
</script>
{% endblock results %}
