{% extends './sidebar.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href=" {% static '/css/components/profile.css' %} ">
{% endblock css %}
{% block results %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("nav_profile").classList.add('active-button');
        document.getElementById("side_profile").classList.add('active-button');
    });
</script>
<br/>
<form id="profileUpdate" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card ">
        <div class="card-body">
            <div class="sub-header text-white">Profile Setting</div>
            <br/>
            <div class="sub-body">
                <div class="row">
                    <div class="col-md-4 w-auto mx-auto mb-2">
                        <input id="profile" name="profile" type="file" class="visually-hidden" accept=".png, .jpg, .jpeg">
                        <label for="profile" class="w-auto position-relative" style="padding: 0!important;">
                            <img src="{{ media_url }}{{ creator.profile_picture }}" id="profile_preview" height="150" width="150" class="border border-light rounded-circle">
                            <span class="position-absolute bottom-0 start-50 translate-middle badge rounded-pill bg-secondary"><i class="fa-solid fa-user-pen"></i> Edit</span>
                        </label>
                        <h5 class="text-white text-center mt-2"><strong>{{ creator.user.username }}</strong></h5>
                    </div>
                    <div class="col-md-8">
                        <div class="row mb-2 g-2">
                            <div class="col-md">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" name="firstname" value="{{ creator.user.first_name }}">
                            </div>
                            <div class="col-md">
                                <label for="lastname">Last Name</label>
                                <input type="text" id="lastname" name="lastname" value="{{ creator.user.last_name }}">
                            </div>
                            <div class="col-md">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" value="{{ creator.user.email }}">
                            </div>
                        </div>
                        <div class="row g-2">
                            <label for="description">Description</label>
                            <textarea id="description" name="description">{{ creator.description }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card ">
        <div class="card-body">
            <div class="sub-header text-white clearfix" data-bs-toggle="collapse" data-bs-target="#contact_collapse" aria-expanded="false" aria-controls="contact_collapse">
                Contact Details
                <i class="fa-solid fa-chevron-down float-end" data-rotate="0"></i>
            </div>
            <div class="sub-body collapse" id="contact_collapse">
                <br>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social_instagram">Instagram</label>
                            <input type="url" id="social_instagram" name="instagram" value="{{ creator.instagram_url }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social_youtube">Youtube</label>
                            <input type="url" id="social_youtube" name="youtube" value="{{ creator.youtube_url }}">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social_twitter">Twitter</label>
                            <input type="url" id="social_twitter" name="twitter" value="{{ creator.twitter_url }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social_website">Website</label>
                            <input type="url" id="social_website" name="website" value="{{ creator.website_url }}">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social_linkedin">LinkedIn</label>
                            <input type="url" id="social_linkedin" name="linkedin" value="{{ creator.linkedin_url }}">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="mb-2">
                            <label for="social_facebook">Facebook</label>
                            <input type="url" id="social_facebook" name="facebook" value="{{ creator.facebook_url }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card ">
        <div class="card-body">
            <div class="sub-header text-white clearfix" data-bs-toggle="collapse" data-bs-target="#review_collapse" aria-expanded="false" aria-controls="review_collapse">
                RevuLink Page Setting
                <i class="fa-solid fa-chevron-down float-end" data-rotate="0"></i>
            </div>
            <div class="sub-body collapse" id="review_collapse">
                <div class="form-group">
                    <label for="orderBy">How do you want to order the reviews?</label>
                    <select class="custom-select" id="orderBy" name="orderBy">
                        <option {% if creator.orderBy == 1 %} selected {% endif %} value="1">Best rated first</option>
                        <option {% if creator.orderBy == 2 %} selected {% endif %} value="2">Newest first</option>
                        <option {% if creator.orderBy == 3 %} selected {% endif %} value="3">Oldest first</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="numberOfResults" class="form-label">How many customer reviews do you want to show on your RevuLink page?</label>
                    <input type="number" id="numberOfResults" name="numberOfResults" value="{{ creator.resultsToDisplay }}" readonly>
                </div>
                <div class="input-group w-75 mx-auto mt-2 mb-2">
                    <input type="range" id="resultRange" value="{{ creator.resultsToDisplay }}" min="1" max="25" step="1">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card ">
        <div class="card-body">
            <div class="sub-header text-white clearfix" data-bs-toggle="collapse" data-bs-target="#form_collapse" aria-expanded="false" aria-controls="form_collapse">
                RevuLink Form Setting
                <i class="fa-solid fa-chevron-down float-end" data-rotate="0"></i>
            </div>
            <div class="sub-body collapse" id="form_collapse">
                <br>
                <div class="input-group" style="display: flex;">
                    <label for="question">Any question you would like to add to the form?</label>
                    <textarea class="m-1" id="question" name="question">{{ creator.question }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom header" id="footer" style="display: none;">
        <button id = "urlForm" form="profileUpdate" type="button" class="btn btn-primary profile-button mt-2">Update Profile</button>
    </nav>
</form>
{% endblock results %}{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static '/js/components/profile.js' %}"></script>
{% endblock js %}

