{% extends './navbar.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href=" {% static '/css/components/sidebar.css' %} ">
{% endblock css %}
{% block body %}
{{ block.super }}
<div class="row">
    <div class="d-none d-md-flex left-panel" style="z-index: 10;">
    <div class="d-none d-md-flex left-panel">
        <a href="{% url 'creatorAnalytics' num_days=7 %}" class="redirect-tab-panel" id="side_result">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Dashboard</span>
        </a>
        <a href="{% url 'profile' %}" class="redirect-tab-panel" id="side_profile">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
        <a href="{% url 'creatorPage' username=user.username %}" target="_blank" class="redirect-tab-panel">
            <i class="fa-solid fa-star"></i>
            <span>RevuLink</span>
        </a>
        <a href="{% url 'review_form' username=user.username %}" target="_blank" class="redirect-tab-panel">
            <i class="fa-solid fa-clipboard-list"></i>
            <span>Revu Form</span>
        </a>
    </div>
    </div>
    <div class="col-sm" style="background: #2C2C2E; z-index: 0;">
        {% block results %}
        {% endblock results %}
    </div>
</div>
{% endblock body %}{% block js %}
{{ block.super }}
{% endblock js %}
